.direnv/
venv/
.vscode/.ropeproject
.mypy_cache
*.egg-info/
__pycache__/
.tox
/build
src/build
src/dist
src/deepprot/bin
/local
.env*.local
.idea
*.sw*
*.so

omix_out
/client_data

# scratch notebooks
Untitled.ipynb
.ipynb_checkpoints

id_rsa
/res
/lytekit

.DS_Store

/scratch

client_secret.txt
